* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section {
    height: 100vh;
    width: 100%;
}
.row {
    background: #fff;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;
}
.login img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.login img {
    width: 100%;
    min-height: 100%;
}
h1 {
    font-size: 4em;
    text-align: center;
    font-weight: 700;
    font-family: 'Kaushan Script', cursive;
}
.inp {
    display: block;
    height: 70px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;
    box-shadow: -2px 2px 31px -11px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 2px 31px -11px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 2px 31px -11px rgba(0,0,0,0.75);
margin: 0 auto;
padding-left: 20px;
margin-top: 30px;
}
.btn-1 {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background: rgb(255, 72, 72);
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
}
.btn-1:hover {
    background-color: brown;
}
p {
    text-align: center;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 5px;
   
}
.fa-facebook {
    font-size: 2.5em;
    color: darkblue;
}
.fa-google-plus {
    font-size: 2.5rem;
    color: red;
    border-radius: 50%;
}

